<div class="container-fluid ">
    <div class="col-lg-12 card jh-card" style="margin-top: 20px !important;">
        <div class="row justify-content-center">
            <div class="col-8">
                <div *ngIf="environment">
                    <h2><span>Environment</span> {{environment.id}}</h2>
                    <hr>
                    <jhi-alert-error></jhi-alert-error>
                    <dl class="row-md jh-entity-details">
                        <dt><span>Server</span></dt>
                        <dd>
                            <span>{{environment.server}}</span>
                        </dd>
                        <dt><span>Name</span></dt>
                        <dd>
                            <span>{{environment.name}}</span>
                        </dd>
                    </dl>

                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/environment', environment.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
