<div class="container-fluid ">
    <div class="col-lg-12 card jh-card" style="margin-top: 20px !important;">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                    <h2 id="jhi-shared-account-heading">Create or edit a Shared Account</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!sharedAccount.id">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id"
                                   [(ngModel)]="sharedAccount.id" readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_login">Login</label>
                            <input type="text" class="form-control" name="login" id="field_login"
                                   [(ngModel)]="sharedAccount.login"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_password">Password</label>
                            <input type="text" class="form-control" name="password" id="field_password"
                                   [(ngModel)]="sharedAccount.password"/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_envID">Env ID</label>
                            <input type="number" class="form-control" name="envID" id="field_envID"
                                   [(ngModel)]="sharedAccount.envID"/>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" for="field_environment">Environment</label>
                            <select class="form-control" id="field_environment" name="environment"
                                    [(ngModel)]="sharedAccount.environment" required>
                                <option *ngIf="!editForm.value.environment" [ngValue]="null" selected></option>
                                <option
                                    [ngValue]="environmentOption.id === sharedAccount.environment?.id ? sharedAccount.environment : environmentOption"
                                    *ngFor="let environmentOption of environments; trackBy: trackEnvironmentById">
                                    {{environmentOption.id}}
                                </option>
                            </select>
                        </div>
                        <div
                            [hidden]="!(editForm.controls.environment?.dirty && editForm.controls.environment?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.environment?.errors?.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                                class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
